name: fetch-data-ex

on: 
  schedule:
    - cron:  '0 12 * * 3,6'

jobs:
  fetch-data:
    env: 
      DATA_BRANCH: master
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
        with:
          ref: ${{ env.DATA_BRANCH }}
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: npm-script 
        run: |
          npm i
          npm run fetch
          npm run snapshot
      - name: git-push
        run: |
          git config --global user.name 'Richie Hsieh'
          git config --global user.email 'whitedogg13@users.noreply.github.com'
          git add static
          git commit -m "chore: fetch data periodicaly"
          git push
